@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    
    padding: 0px;
    margin: 0px;
    
}

body {
    background-color: #F5F5F5;
}

.container-fluid{
    background-color: #FFFFFF;
    width: 100%;
    height: 11vh;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
}
.sair{
   
        float: right;
        width: 40px;
        height: 40px;
        left: 90%;
        top: 34px;
        margin-left: -32px;
        position: relative;
        top: 32px;
        left: -83px;
}

.container-fluid > p {
        
        display: inline-block;
        position: relative;
        top: 27px;
        font-size: 2rem;
        float: right;
}
.logo {
    margin-top: 13px;
    margin-left: 32px;
}

.footer {
    position: absolute;
min-width: 57%;
left: -17px;
bottom: -13px;
}

.dec {
    max-width: 40%;
}
   


@media (max-width:400px) {
    .logo {
        margin-top: 25px;
        margin-left: 11px;
        width: 34%;}
    .sair{
        width: 30px;
        height: 30px;
        left: -40px;
         }
     .container-fluid > p{
         display: none;
     }
    .divtabela{
        margin-top:20vh;
    }
       
}  

