body{
    margin: 100%;
    height: 100%;
    width: 100%;
    font-family: 'Montserrat';
    font-size: 25px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row;
    
}

html {
    font-size: 55.5%;
  }
  

head{
    font-family: 'Poppins';
    font-size: 25px;
    font-style: normal;
    color: black;
}   

.logo{
    width: 180px;
    height:60px;
    top: 20px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.text{
    position: absolute;
    left: 30px;
    top: 80px;
    color: #000000;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    font-weight: bold;
}

.btnexit{
    position: absolute;
    top: 2%;
    right: 2%;
    font-size: 35px;
}

.textexit{
    text-decoration: none;
    color: #000000;

}

.bi-bi-box-arrow-right{
    height: 60px;
    width: 30px;
}

.bi-bi-list-task{
    color: white;
    height: 40%;
    width: 60%;
    position: absolute;
    top: 65%;
    left: 23%;
    transform: translate(-50%,-50%);
}

.bi-bi-bookmark{
    color: white;
    height: 40%;
    width: 60%;
    position: absolute;
    top: 35%;
    left: 75%;
    transform: translate(-50%,-50%);
}

.container1{
    border-radius: 15px;
    position: absolute;
    width: 39vw;
    height: 15vw;
    top: 50%;
    left: 40%;
    transform: translate(-50%,-50%);
    background-color: #25153B;
    clip-path: polygon(52% 1%, 100% 0, 100% 50%, 50% 50%, 50% 100%, 0 100%, 0 68%, 0 50%, 0 0)
    
}

.container2{
    border-radius: 15px;
    position: absolute;
    width: 35vw;
    height: 15vw;
    top: 51.5%;
    left: 63%;
    transform: translate(-50%,-50%);
    background-color: #6111C5;
    clip-path: polygon(50% 0, 100% 0, 100% 43%, 100% 100%, 50% 100%, 0 100%, 0 80%, 0 50%, 50% 50%);
}

.container3{
    position: absolute;
    background-color: #25153B;
    clip-path: inset(64% 0 0 0);
    width: 60%;
    height: 40%;
    top: 65%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.Agendar{
    text-decoration: none;
    color: white;
    position: absolute;
    font-size: 2.5vh;
    top: 40%;
    left: 23%;
    transform: translate(-50%,-50%);
} 

.agendamento{
    text-decoration: none;
    color: white;
    position: absolute;
    white-space: nowrap;
    font-size: 2.5vh;
    top: 60%;
    left: 75%;
    transform: translate(-50%,-50%);
}

.estacao{
    text-decoration: none;
    text-align: center;
    color: white;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.dec{
    position: absolute;
    width: 15%;
    bottom: 0.1%;
}

.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 55%;
    height: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #A59DF1;
    border: 2px solid #000000;
    border-radius: 20px;
}

.box2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 60%;
    height: 45%;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #A59DF1;
    border: 2px solid #000000;
    border-radius: 20px;
}

.text3{
    position: absolute;
    top:25px;
    left: 25px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 4vh;
    line-height: 24px;
    letter-spacing: -0.015em;
    color: #000000;

}

.btn5{
    position: absolute;
    bottom:35px;
    left: 45px;

}

.btn6{
    position: absolute;
    bottom:35px;
    left: 50%;
    transform: translate(-50%,-50%);
}

.btn4{
    position: absolute;
    bottom:10px;
    left: 80%;
    transform: translate(-50%,-50%);
}



@media (min-width:910px) and (max-width:1200px){
    .container1{
        top: 50%;
        left: 35%;
        transform: translate(-50%,-50%);
        width: 55%;
        height: 16vw;
    }
    .container2{
        top: 52%;
        left: 65%;
        transform: translate(-50%,-50%);
        width: 52vw;
        height: 16vw;
    }
    .container3{
        width: 85%;
        height: 40%;
    }
}

@media (min-width:610px) and (max-width:900px){
    .container1{
        top: 49%;
        left: 35%;
        transform: translate(-50%,-50%);
        width: 50%;
        height: 15vw;
    }
    .container2{
        top: 50%;
        left: 64%;
        transform: translate(-50%,-50%);
        width: 55vw;
        height: 15vw;
    }
    .container3{
        width: 85%;
        height: 40%;
        top: 60%;
    }
}

@media (max-width:600px) {
    .container1{
        top: 50%;
        left: 35%;
        transform: translate(-50%,-50%);
        width: 60%;
        height: 20vw;
    }
    .container2{
        top: 51%;
        left: 68%;
        transform: translate(-50%,-50%);
        width: 60vw;
        height: 20vw;
    }
    .Agendar{
        right:50%;
    }
    .container3{
        width: 94%;
        height: 40%;
    }
    .bi-bi-list-task{
        top: 80%;
    }
    .dec{
        width: 25%;
    }
    .btn5{
        bottom: 1px;
        font-size: 2.0vh;
        left: 80px;
    }
    .btn6{
        bottom: 1px;
        font-size: 2.0vh;
    }
}

.container {
  width: 100%;
  height: 100vh;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar {
  width: 45rem;
  height: 57rem;
  background-color: #FFFFFF;
  box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.4);
}

.month {
  position: relative;
  top:37.9%;
  right: 77.5%;
  transform: rotate(90deg);
  width: 57rem;
  height: 14rem;
  background-color: #6111C5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;
  text-align: center;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
}

.month i {
  font-size: 2.5rem;
  cursor: pointer;

}

.month h1 { 
  font: Montserrat;
  font-size: 2rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin-bottom: 0.5rem;
  transform: rotate(-90deg);
}

.month p {
  font-size: 0.0rem;
  transform: rotate(-90deg);
}

.weekdays {
  width: 100%;
  height: 7rem;
  padding: 0 0.4rem;
  display: flex;
  align-items: center;
}

.weekdays div {
  font-size: 1.8rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  width: calc(70rem / 7);
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
  color: #000000;
}

.days {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0.2rem;
}

.days div {
  font-size: 1.4rem;
  margin: 0.3rem;
  width: calc(40.2rem / 7);
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
  transition: background-color 0.2s;
  color: #000000;
}

.days div:hover:not(.today) {
  background-color: #49DD8C;
  border: 0.2rem solid #777;
  cursor: pointer;
}

.prev-date,
.next-date {
  opacity: 0.5;
}

.today {
  background-color: #6111C5;
}
.Atual{
    position: absolute;
    top: 12%;
    left: 42%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 2vh;
}