*{
    margin:0;
    padding:0;
  }
  body{
    margin:none;
    width:100vw;
    height:100vh;
    font-family: arial;
    color: black;
    display:grid;
    grid-template-columns: 100%; 
    grid-template-rows: 13% 7% 70% auto;
    grid-template-areas: "conteiner1"
                         "conteiner2"
                         "conteiner3"
                         "conteiner4";
    grid-gap: 2%;
  }
  .logo{
    display:flex;
    position:relative;
    margin-left:8%;
    margin-top:10%;
    width:100%;
    height:67%;
    justify-content: center;
    align-items: center;
    min-width: 200px;

   
}

.dec{
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-font-sans-serif: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  font-family: var(--bs-font-sans-serif);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  vertical-align: middle;
  position: fixed;
  width: 15%;
  bottom: 0.1%;
}

  .conteiner1{
      background-color: #FFFFFF;
      display: flex;
      width:100%;
      height:14vh;
    
      border-color: #999D9D;
      border: solid 1px;
      background: #FFFFFF;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .c2{
    margin-left:20% !important;
    margin-top:2%;
}
  .btnexit{
    display:flex;
    position:relative;
    margin-left:77%;
    margin-top:2%;
    min-width: 100px;
    width:70%;
    height:70%;
    cursor: pointer;
    font-size: 24px;
    font-weight: bold;
  }
  .textexit{
    text-decoration: none;
    color: #000000;
}
  
  form {
      display: grid;
      grid-template-columns: 7% 40% 11% 40%;
      grid-gap: 1.5%;
      margin-left:6%;
    margin-right:6%;
      
      
  }
  input{
    
   max-width:320px;
    max-height:40px;
    border-width:2px;
  }
  label{
    /*height: max-content;
    width: min-content;*/
    /*white-space: nowrap;*/
    min-width:80px;
    text-align: justify;
    font-weight:regular;
    font-family:Poppins;
    text-size:30;
    
  }
  .conteiner1{
    border:none;
    
  }
  .btn btn-primary btn-lg{
    margin-left:70% !important;
  }
  .conteiner2{
    background-color:FFFFFF;
    border:none;
  }
  .conteiner3{
    display:grid;
    background-color:FFFFFF;
    border:none;
    grid-template-columns: auto 65% auto;                    
  }
  .login{
    
    box-shadow: 3px 4px 4px 1px rgba(0, 0, 0, 0.2);
    
    border-radius:20px;
    border-color:green;
    display:grid;
    grid-template-rows:  15% 
                         55%
                         auto;
    grid-template-areas: "barrinha"
                         "formulario"
                         "botaosalvar";
  }
  .formulario > input{
    border-radius:5.5px;
  }
  
  .barrinha{
    background-color:#49DD8C;
    border-radius: 10px 10px 0 0;
  }
  .cadastro{
    position: relative;
    display: flex;
    justify-content:center;
    margin:0;
    font-family:poppins;
    font-weight:700;
    font-size:30px;
    vertical-align: middle !important;
    
    
  }

  
  
  .formulario{
    background-color:white;
    border:solid;
    border:2px;
    border-color:black;
    border-radius:4px;
    padding-top:3%;
    
   
  }
  #botaoroxo{
    margin-left:68%;
    margin-top:2%;
    min-width:210px;
    max-height:50px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:20px;
    background-color: #360080;
   
    
  }
  
  #botaoroxo > text {
    
  }
  
  .conteiner4{
    background-color:white;
    border:none;
    
  }
  
  
  @media (max-width:1500px){
    .btnexit{
        margin-right:60%;
    }
  }
  @media (max-width:1000px){
    label{white-space: normal;}
    #botaoroxo{
      margin-right:10%;
      min-width:210px;
    }
  }
  @media (max-width: 1000px){
    label{white-space: normal;}
    form {
      margin-left:2%;
  }
    #botaoroxo{
      margin-right:10%;
      min-width:210px !important;
      width:90% !important;
      margin:0;
    }
    
    .formulario{
       overflow-y: scroll;
      grid-template-columns:100%;
      grid-template-rows: auto;
      margin:none;
      justify-items:center;
    }
    input{
      justify-content:center;
      align-items:center;
      width:100%;
      max-width:80%;
      min-height:40px !important;
       max-height:40px !important;
    }
    label{
      width: min-content;
      justify-content:center;
      align-items:center;
    }
    .botaosalvar{
      display:flex;
      
      justify-content:center;
      align-items:center;
    }
    #botaoroxo{
      min-width:0;
      width:100%;
      
    }
    
    @media (max-width:870px){
       #botaoroxo{
      min-width:0;
      width:90% !important;
      margin:0;
      max-height:40px;
      
    }
    }
  }